<section class="flex flex-col gap-3 rounded-xl shadow-xl p-5">
  <app-filter-search (searchChange)="onSearchTermChange($event)" />

  <app-filter-checkbox
    title="Filtrar por estrellas"
    [filterOptions]="filterStarCheckboxOptions"
    (filterOptionsChange)="onStarOptionsChange($event)"
  />

  <app-filter-range
    element="Valoración"
    title="Filtrar por valoración"
    [min]="filterRateRangeOptions.min"
    [max]="filterRateRangeOptions.max"
    [step]="filterRateRangeOptions.step!"
    (rangeChange)="onRateRangeChange($event)"
  />

  <app-filter-range
    element="Precio"
    title="Filtrar por precio"
    [min]="filterPriceRangeOptions.min"
    [max]="filterPriceRangeOptions.max"
    [step]="filterPriceRangeOptions.step!"
    [defaultValue]="filterPriceRangeOptions.default!"
    (rangeChange)="onPriceRangeChange($event)"
  />
</section>
