<section class="flex flex-col">
  @if (title) {
  <span class="font-medium">{{ title }}</span>
  }

  <section class="flex flex-col">
    <label class="flex items-center gap-2 p-3">
      <span>
        {{ min }}
      </span>

      <input
        class="h-2 bg-gray-200 rounded-lg appearance-none cursor-pointer"
        type="range"
        [min]="min"
        [max]="max"
        [step]="step"
        [(ngModel)]="rangeValue"
        (input)="onRangeChange($event)"
      />

      <span>
        {{ max }}
      </span>
    </label>

    <span class="px-3">
      @if (element) {
      {{ element }}: 
      }

      {{ rangeValue }}
    </span>
  </section>
</section>
